body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
}

#handOptions {
    display: none;
}

#mano {
    position: relative;
}

#mano img {
    width: 300px;
    height: auto;
}

#nail-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}

.button-option-manob {
    background-image: url('images/botones/fondo-boton-manob.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-manom {
    background-image: url('images/botones/fondo-boton-manom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-manon {
    background-image: url('images/botones/fondo-boton-manon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-1 {
    background-image: url('images/botones/fondo-boton-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-2 {
    background-image: url('images/botones/fondo-boton-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-3 {
    background-image: url('images/botones/fondo-boton-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-4 {
    background-image: url('images/botones/fondo-boton-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-5 {
    background-image: url('images/botones/fondo-boton-5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-6 {
    background-image: url('images/botones/fondo-boton-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-7 {
    background-image: url('images/botones/fondo-boton-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-8 {
    background-image: url('images/botones/fondo-boton-8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-9 {
    background-image: url('images/botones/fondo-boton-9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-option-10 {
    background-image: url('images/botones/fondo-boton-10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-rees {
        border: 2px solid #800080; 
        background-color: #f5f5f5; 
        border-radius: 20px;
}

.button-d {
    border: 2px solid #800080; 
    background-color: #f5f5f5; 
    border-radius: 20px;
}